.upgrade-modal button {
    background-color: transparent;
}
.upgrade-modal .modal-action {
    justify-content: space-evenly;
}
.upgrade-modal .modal-action button {
    /* width: calc(50% - 1rem); */
    width: 50%;
    padding-bottom: 50%;
    background-size: cover;
}